<!DOCTYPE html>

<html>

<head>
    {{>links}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/img.JPEG">
    </div>
    {{>footer}}
</body>

</html>